{% extends "auctions/layout.html" %}

{% block ex %}
{% endblock %}


{% block body %}
<form action="/create_listing" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style = "color:chocolate">{{ messege }}</div>
    <label for="id_title">Title: </label>
      <input type="text" name="title" required="" id="id_title">
      <br>
      <textarea name="description" cols="40" rows="10" required="" id="id_description" placeholder="Description"></textarea>
      <br>
    <label for="id_bid">Bid: </label>
      <input type="number" name="bid" required="" id="id_bid">
      <br>
    <label for="id_image">Image(optional)</label>
      <input type="file" name="image" accept="image/*"  id="id_image">  
      <br>
    <label for="id_category">Category </label>
      <input type="text" name="category" required="" id="id_category">
    <br>
      <input type="Submit" value="Submit">

    <input type="hidden" name="auther_id" value="{{ user.id }}">
</form>
{% endblock %}