{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Current Bid</th>
            <th>Image</th>
            <th><!--view --></th>
        </thead>
        <tbody>
            {% for listing in elements %}
                <tr>
                    <td>{{ listing.title }}</td>
                    <td style="max-width:15rem;">{{ listing.description }}</td>
                    <td style="position: relative;"><strong><div style="position:absolute; right:50%; top:50%">{{ listing.bid }}</div></strong></td>
                    <td><img src="{{ listing.image }}" class="card-img-top" alt="-" width="50px" height="150px"></td>
                    <td> <a class="btn btn-primary" href="{% url 'listing' listing.id %}" style="margin-left: 40%; margin-top:30%;"><strong>View</strong></a></td>
                </tr>
            {%endfor%}
        </tbody>

    </table>

{% endblock %}